@page "{handler?}"
@model WebApp.Pages.ProcessImage.IndexModel
@{
    ViewData["Title"] = "WebApp";
}
<form method="POST">
    <div class="form-group">
        <label htmlFor="countOfServers">Count of servers:</label>
        <input asp-for="InputData.CountOfServes" class="form-control" id="countOfServers" aria-describedby="countOfServers" />
    </div>
    <div class="form-group">
        <label htmlFor="pathToImage">Path to image: </label>
        <input type="file" style="width: 250px; padding-bottom: 5px; height: auto;" asp-for="InputData.Path" class="form-control" id="pathToImage" accept=".jpg, .jpeg, .png" />
        <div id="image"></div>
    </div>
    <div class="form-group">
        <label asp-for="InputData.ProcessedFile" class="control-label" htmlFor="pathToImage"></label>
        <input asp-for="InputData.ProcessedFile" class="form-control" id="pathToImage" />
    </div>
    <div class="text-center">
        <input type="submit" value="Start filter process" class="btn btn-primary center" />
    </div>
</form>
@*<div className="col text-center">
    <form method="POST" style="width: 200px">
        <label asp-for="InputData.ProcessedFile" class="control-label" htmlFor="pathToImage"></label>
        <input asp-for="InputData.ProcessedFile" class="form-control" id="pathToImage" />
        <input type="submit" class="form-control" asp-page-handler="GetProcessedImage" value="Показать обработанное изображение" />
    </form>
</div>*@

<script>
    $('#pathToImage').change(function() {
        var filename = $('#pathToImage').val();
        console.log(filename);
        var tempArr = filename.split('\\');
        var fileNameF = '/images/' + tempArr[tempArr.length - 1];
        console.log(fileNameF);
        $('#image').append(`<img id="theImg" src="${fileNameF}" />`);
        $('#my_file').html(filename);
    });

    @*function chooseProcessedFile() {
        var test = @Model.
        while( )
    }*@
</script>

