<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div id="root" class="container">
        <div className="row">
            <div className="col">
            </div>
            <div className="col-6">
                <div className="text-center">
                    <h1 class="text-center">Scaling image filtering service</h1>
                    <p class="text-center">Data Coming:</p>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>